@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Creepster&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: black;
}

h1 {
    color: #DC1F1F;
}

P {
    color: whitesmoke;
}

.destaque {
    color: #DC1F1F;
}

.ordem {
    margin: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ordem__DaParteEscrita {
    width: 610px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.ordem__DaParteEscrita__Titulo {
    font-size: 56px;
    font-family: "Creepster", system-ui;
    text-align: center;
}

.ordem__DaParteEscrita__Paragrafo {
    font-size: 24px;
    font-family: "Caveat", cursive;
    text-align: justify;
}

.imagem-redimencionada {
    width: 90vh; 
    height: 65vh;
}

.ordem__botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.ordem__botoes__titulo {
    font-size: 24px;
    color: whitesmoke;
    font-family: "Caveat", cursive;
    text-align: center;
}

.ordem__botoes__botao {
    border: 2px solid #DC1F1F;
    border-radius: 8px;
    color: whitesmoke;
    font-size: 24px;
    font-weight: 600;
    font-family: "Caveat", cursive;
    text-align: center;
    width: 378px;
    border-radius: 16px;
    padding: 16.5px 0;
    text-decoration: none;
}
